/* Write your CSS here */
.bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  color: #f0bb03;
  font-size: 60px;
  font-family: 'Bree Serif';
}
.para {
  color: white;
  font-size: 30px;
  font-family: 'Bree Serif';
  margin-top: 0px;
}
